/*
 Navbar
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.store-logo {
  width: 12em;
  height: 12em;
  object-fit: contain;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
  font-family: arial;
  font-weight: 700;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ffffff;
  text-shadow: 15px 10px 15px rgba(0, 0, 0, 0.25);
}


.cart {
  display: flex;
  align-items: center;
  gap: 8px;
}


.cart-count {
  background-color: #4da6ff;
  color: white;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: arial;
  font-weight: 300;
}


#menu-toggle {
  display: none;
}


.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}


/* 
 Mobile
*/

@media (max-width: 768px) {

  .navbar {
    padding: 0 20px;
  }

  .hamburger {
    display: block;
  }


  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #111;
    font-family: arial;
    font-weight: 700;
    background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);

    flex-direction: column;
    gap: 20px;
    padding: 30px 0;

    display: none;
  }


  #menu-toggle:checked~.nav-links {
    display: flex;
  }

}