/*
 Navbar
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
  color: white;
  border-bottom: 1px solid rgba(0, 255, 136, 0.25);
  box-shadow: 0 2px 10px rgba(0, 255, 136, 0.15);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.store-logo {
  width: 12em;
  height: 12em;
  object-fit: contain;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
  font-family: arial;
  font-weight: 700;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ffffff;
  text-shadow: 15px 10px 15px rgba(0, 0, 0, 0.25);
}


.cart {
  display: flex;
  align-items: center;
  gap: 8px;
}


.cart-count {
  background-color: #4da6ff;
  color: white;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: arial;
  font-weight: 300;
}


#menu-toggle {
  display: none;
}


.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}


/* 
 Mobile
*/

@media (max-width: 768px) {

  .navbar {
    padding: 0 20px;
  }

  .hamburger {
    display: block;
  }


  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #111;
    font-family: arial;
    font-weight: 700;
    background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    z-index: 100;

    flex-direction: column;
    gap: 20px;
    padding: 30px 0;

    display: none;
  }


  #menu-toggle:checked~.nav-links {
    display: flex;
  }

}

/*
 Hero section
*/

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 10%;
  min-height: 80vh;
  background-color: rgb(32, 32, 163);
  color: rgb(255, 255, 255);
  overflow: hidden;
}

.hero-title {
  font-weight: bold;
}


.hero-content {
  max-width: 500px;
}

.hero h1 {
  font-size: 52px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  color: #cbd5e1;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-family: JetBrains Mono;
}


.primary {
  background-color: #00cccc;
  color: white;
  transition: color 0.35s,
    background-color 0.35s,
    font-weight 0.35s,
    opacity 0.15s;
}

.primary:hover {
  color: #00cccc;
  background-color: white;
  font-weight: 900;
}

.primary:active {
  opacity: 0.6;
}

.secondary {
  border: 2px solid white;
  color: white;
  transition: color 0.35s,
    background-color 0.35s,
    opacity 0.15s;
}

.secondary:hover {
  color: rgb(32, 32, 163);
  background-color: white;
}

.secondary:active {
  opacity: 0.6;
}

.hero-image img {
  width: 600px;
  max-width: 100%;
}

/* responsive */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero h1 {
    font-size: 36px;
  }

  .hero-buttons {
    justify-content: center;
  }
}